@import './base.css';

#app {
  margin: 40px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
table {
  border-collapse: collapse;
  margin-bottom: 10px;
}
table th, table td {
  padding: 10px;
  border-right: 4px solid #2b2b2b;
}

.removeBtn {
  background-color: #fa3737;
  cursor: pointer;
  border: 1px solid #fa3737;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
}
header{
  display: flex;
  justify-content: center;
}
.wrapper{
  display: flex;
  align-items: center;
}
.addButton {
  width: 100%;
  background-color: #00bd7e;
  cursor: pointer;
  border: 1px solid #00bd7e;
  border-radius: 10px;
  font-weight: 600;
  padding: 10px;
}
.cellDataInputHeader{
  height: 3em;
  font-weight: 600;
  text-align: center;
  color: white;
  border: 2px solid #2b2b2b;
  font-size: large;
  background-color: #2b2b2b;
  border-radius: 5px;
}
.cellDataInput{
  height: 3em;
  width: 100%;
  font-size: medium;
  text-align: center;
  color: white;
  background-color: #1f1f1f;
  border: 2px solid #1f1f1f;
  border-radius: 20px;
}
a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

body {
  display: flex;
}
.visualiseTableData{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  table thead {
    display: none;
  }
  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-right: 1px solid transparent;
  }
}

.functionalBtns{
  margin-left: 10px;
}